*{
    box-sizing:border-box;
    margin:0px;
    padding: 0px;
}
ul{
    list-style-type: none;
}

a{
    color: black;
}

body {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
